:root{
    --blue:#357edd;
    --dark-blue:#00449e;
    --light-blue:#96ccff;
    --mid-grey:#555;
    --near-white:#f4f4f4;
    --mid-grey:#555;
    --input-color:var(--mid-grey);
    --button-color:var(--near-white);
    --buton-bg-color:var(--blue);
    --button-hover-color:var(--dark-blue);
    --button-disabled-color:var(--light-blue);
}
a{
    color:inherit;
    text-decoration:none;
}

.page-header{
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid;
}

.page-header > .app-title{
margin-top:0;
margin-bottom:0;
}
.app-title>.subtitle{
    font-weight: normal;
}
.list>li{
    margin-bottom:10px;
}


.navbar{
    position:relative;
    min-height:50px;
    border:1px solid transparent;
}
.navbar>.nav{
    display:flex;
    margin:0;
    padding:0;
    list-style-type: none;
}
.navbar-item{
    padding:5px;
}
.navbar-item>a:hover{
    border-bottom:2px solid var(--navitem-link-color);
}
.navbar-item>a.active{
    color:inherit;
    border-bottom:2px solid var(--navitem-link-color);
}
.navbar-item+.navbar-item{
    margin-left: 10px;
}
.sidebar {
    float: left;
    width: calc( 100% / 3 ); 
};
.main-panel {
    float: left;
    width: calc( 100% / 1.5); 
}
.rr-list {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}
.rr-list-item {
    margin-bottom: 10px;
}
.rr-empty-message {
    text-align: center;
}
.rr-band-link > .pointer {
    margin-left: 5px;
    display: none;
}
.rr-band-link.active > .pointer {
    display: inline-block;
}

.rr-new-label{
    margin-top:1rem;
    padding-left:1rem;
    background-color:green;
}
.rr-input{
    color:var(--input-color);
    border-style:solid;
    border-width: 1px;
    padding: .25rem;
}

.rr-action-button{
    color:var(--buton-color);
    background-color: var(--button-bg-color);
    border-radius:.125rem;
    padding:.25rem;
    padding-left:.5rem;
    padding-right:.5rem;
}

.rr-action-button:hover{
    background-color:var(--button-hover-color);
}

.rr-action-button[disabled]{
    background-color: var(--button-disabled-color);
}
.rr-cancel-icon{
    align-self:center;
    margin-left:.25rem;
}
.rr-inline-form{
    display: flex;
}
.rr-inline-form-group{
    display:flex;
    justify-content: space-between;
}

