<!-- PAGINA PRINCIPAL-->
<div class="container">
    <div class="page-header">
        <h1 class="app-title">Rock & Roll <small class="subtitle"> with
            Ember.js</small></h1>

    </div>
    <div class="main-content">
        <nav class="navbar" role="navigation"><!-- Bands Songs (barra que navego)-->
            <ul class="nav">
                <!-- class="navbar-item">{{link-to "Nombre del Link" "voy a buscar el nombre.hbs"}} -->
                <li class="navbar-item">{{link-to "Bands" "bands"}}</li><!-- Bands link y voy a usar el bands.hbs -->
                <li class="navbar-item">{{link-to "Songs" "songs"}}</li><!--click en Songs y voy a usar el songs.hbs -->
            </ul>
        </nav> 
        {{outlet}}
    </div>
</div>